$purple: #8E84E0;
$navy: #4A4661;
$deep-grey: #B6B2CC;
$light-grey: #EFEFEF;

body {
    background-color: $light-grey;
}

nav {
    background-color: $navy;
    
    button{
        background-color: transparent;
        color: white;
        border: none;
    }

    button.active {
        svg{
            stroke: $purple;
        }

        .line {
            background-color: $purple;
            color: $purple;
        }
        
    }

    button:hover {
        .line {
            background-color: $purple;
            color: $purple;
        }
    }
}

.logo {
    .white{
        color: white;
    }

    .purple{
        color: $purple;
    }
}

.tabcontent {
    background-color: $light-grey;
}

.line {
    background-color: $navy;
    color: $navy;
}

// for new session form

input[type=text] {
    background-color: $light-grey;
}

input[type=text]:focus {
    outline: none;
    border-color: $purple;
}

.category-container {
    label {
        background-color: $navy;

        [type=radio]:checked + img{
            outline: 2px solid $purple;
        }
    }
}

.submit-container {
    input[type=submit]{
        background-color: $navy;
        border: none;
        color: white;
    }
}

.input-cell {
    input[type=radio]:checked {
        accent-color: $purple;
    }
}
// home page
.muscle-container {
    background-color: $navy;
    
    figcaption {
        color: white;
    }
}

// tracker page
#timer {
    background-color: $navy;
}

#rep-counter{
    label {
        color: white;
    }

    input[type=submit], button{
        background-color: $purple;
    }
}

#timer-time {
    color: white;
}

#reps {
    background-color: $navy;
    color: white;
}

table {
    color: white;
    background-color: $navy;
}

#rest-timer{
    color: white;
}