$purple: #8E84E0;
$navy: #4A4661;
$deep-grey: #B6B2CC;
$light-grey: #EFEFEF;

body {
    background-color: $light-grey;
}

nav {
    background-color: $navy;
    
    button{
        background-color: transparent;
        color: white;
        border: none;
    }

    button.active {
        svg{
            stroke: $purple;
        }

        .line {
            background-color: $purple;
            color: $purple;
        }
        
    }

    button:hover {
        .line {
            background-color: $purple;
            color: $purple;
        }
    }
}

.logo {
    .white{
        color: white;
    }

    .purple{
        color: $purple;
    }
}

.tabcontent {
    background-color: $light-grey;
}

.line {
    background-color: $navy;
    color: $navy;
}

// for new session form

input[type=text] {
    background-color: $light-grey;
}

input[type=text]:focus {
    outline: none;
    border-color: $purple;
}