body { 
    display: grid;
    grid-template-columns: 0.4fr 1.6fr;
    grid-template-rows: 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      ". .";
  }

  .tabcontent {
    margin-top: 5%;
    margin-left: 5%;
  }

  header {
    margin-bottom: 5%;
  }