$font-weight-medium: 500;
$font-weight-semibold: 600;
$font-weight-bold: 700;
$font-weight-regular: 400;

h1, h2, h3, h4 {
    font-family: 'saira';
    font-weight: $font-weight-medium;
}

// font sizing
h1 {
    font-size: 36px;
    font-weight: $font-weight-semibold;
}

h2 {
    font-size: 25px;
}

h3 {
    font-size: 16px;
}

// navbar typography styling

.logo {
    font-family: 'Orbitron';
    font-weight: $font-weight-semibold;
}

.navbar-wrapper {
    button {
        font-weight: $font-weight-medium;
    }

    button:hover {
        h3 {
            font-weight: $font-weight-bold;
        }
    }

    button.active {
        h3 {
            font-weight: $font-weight-bold;
        }
    }

}

// new session form styling
#session-form{
    label{
        font-family: 'saira';
        font-weight: $font-weight-medium;
        font-size: 16px;
    }

    #name {
        font-family: 'saira';
        font-weight: $font-weight-regular;
    }
}

.submit-container {
    input[type=submit]{
        font-family: 'saira';
        font-weight: $font-weight-medium;
        font-size: 16px;
    }
}

// tracker styling
#rep-counter {
    label {
        font-family: 'saira';
        font-weight: $font-weight-semibold;
        font-size: 36px;
    }
    input[type=submit], button{
        font-family: 'saira';
        font-weight: $font-weight-medium;
        font-size: 16px;
    }
}

th {
    font-family: 'saira';
    font-weight: $font-weight-regular;
    font-size: 16px;
}

td {
    font-family: 'saira';
    font-weight: $font-weight-regular;
    font-size: 25px;
}



#reps {
    font-family: 'saira';
    font-weight: $font-weight-regular;
    font-size: 36px;
}

#rest-timer {
    font-weight: $font-weight-semibold;
    margin-top: 20%;
    font-size: 36px;
}

// past sessions styling
.session-cell {
    font-family: 'saira';
    
    .nameDateContainer {
        text{
            font-weight: $font-weight-medium;
        }
    }

    .categoryContainer {
        text{
            font-weight: $font-weight-semibold;
        }
    }
}

